/**
 * -----------------------------------------------------------------------------
 * $FORM
 * -----------------------------------------------------------------------------
 */

.hs-form * {
  all: initial;
}

.hs_firstname {
  display: none;
}

.hs-form-checkbox {
  margin-top: 40px;

  label {
    margin: 0;
  }
}

.hs-form-checkbox + .hs-form-checkbox {
  margin-top: 24px;
}

.hs-form-field {
  margin-top: 16px;
  position: relative;

  .custom-select-opener,
  input,
  select,
  textarea {
    border-color: transparent;
    border-bottom-color: var(--white);

    padding: 20px 24px 8px;

    @include active-states() {
      outline: none;
    }

    &:active + label,
    &:focus + label,
    &:not([value=""]) + label {
      font-size: 15px;
      transform: translateY(-2px);
    }
  }

  .custom-select-opener {
    padding: 8px 0;
  }

  label {
    display: block;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;

    pointer-events: none;
    transform: translateY(12px);
    transition: 0.4s transform ease, 0.4s font-size ease;
    will-change: font-size, transform;
  }

  textarea {
    padding-top: 26px;
  }

  textarea + label {
    justify-content: flex-start !important;
    transform: translateY(6px);
  }
}

button,
input,
optgroup,
select,
textarea {
  font-family: var(--fontPrimary);
}

fieldset {
  padding: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 0px;
}

.custom-select-opener,
input,
select,
textarea {
  display: block;
  min-height: 54px;
  padding: 14px 24px;
  width: 100%;

  background: transparent;
  border: 1px solid var(--grey500);
  transition: border-color 0.25s;
  will-change: border-color;

  &:-webkit-autofill,
  &:-webkit-autofill:active,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:hover {
    box-shadow: 0 0 0 1000px white inset !important;
  }
}

input[type="checkbox"],
input[type="radio"],
input[type="reset"],
input[type="submit"] {
  min-height: 0px;
  min-width: 0px;
  width: auto;
}

input[readonly] {
  background-color: var(--grey100);
  cursor: not-allowed;
}

textarea {
  min-height: 200px;
  padding: 24px;
  width: 100%;

  resize: vertical;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset !important;
  transition: background-color 5000s ease-in-out 0s;
  will-change: background-color;
}
