/**
 * -----------------------------------------------------------------------------
 * $GRID
 * -----------------------------------------------------------------------------
 */

.grid {
  overflow-x: hidden;
  position: relative;
}

.grid__contents {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 88px;
  grid-template-columns: repeat(1, 1fr);
  margin: 48px auto;
  max-width: var(--grid);
  padding: 0 15px;

  @include bp-min-width($bp-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include bp-min-width($bp-md) {
    grid-row-gap: 64px;
    margin: 64px auto;
  }

  @include bp-min-width($bp-lg) {
    grid-template-columns: repeat(3, 1fr);
    margin: 80px auto;
  }

  @include bp-min-width($bp-xl) {
    margin: 120px auto;
  }
}
