/**
 * -----------------------------------------------------------------------------
 * $BUTTON
 * -----------------------------------------------------------------------------
 */

.block--button {
  padding-bottom: 56px;
  padding-top: 56px;

  @include bp-min-width($bp-sm) {
    padding-bottom: 96px;
    padding-top: 96px;
  }
}
