{% set className = className|default('title block--title') %}
{% set subtitle = fields.subtitle|default(subtitle) %}
{% set title = fields.title|default(title) %}

<section id="{{ id }}" class="{{ className }}">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title__contents">
          {% if title %}
            <h2 class="h1">
              {{ title }}
            </h2>
          {% endif %}
          {% if subtitle %}
            <h1 class="h2">
              {{ subtitle }}
            </h1>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
